@use './mixins' as *;

$font-size-body: 16px;
$font-heading-family: var(--font-heading-family);
$font-content-family: var(--font-content-family);
$index: calc(1vw + 1vh); //calc($index * 1.25)

$height-main-text: 1.6;
$transition-effect: 0.3s ease;

$containerWidth: 1320;
$pc: em($containerWidth);
$laptop: em(1299.98);
$smallLaptop: em(1199.98);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileMedium: em(599.98);
$mobileSmall: em(479.98);

$bgColor: #f9f8fe;
$accentColor: #ee2264;

$headerBgColor: #fff; //f9f8fe
$headerBurgerColor: #000;
$headerBorderRadius: rem(27);
$headerBoxShadow: 0px 8px 14px 0px rgba(38, 38, 38, 0.07);
$headerColor: rgb(56, 56, 54);

$heroBlockColor: #000;